<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <div>
    <a href="{{ route('home.index') }}">Home</a>
    <a href="{{ route('user.index') }}">User</a>
  </div>
  <h1> Let's watch {{title}} </h1>
</body>
</html>
